/* Write your styles */
.am-panel-group .am-panel-hd .logo:after {
    content: "\f105";
    float:right;
    margin-right: 1.6rem;
    transform: rotate(90deg);
}

.am-panel-group .am-panel-hd .am-collapsed:after {
    transform: rotate(0deg);
}